<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="utf-8">
    <title>FULL STACK Tutorial</title>
    <link rel="stylesheet" href="/css/app.css">
    <style>
    a {
	cursor: pointer;
	background-color: lightblue;
    }
    </style>
</head>
<body ng-controller="UserCRUDCtrl">
 <br /> <br />
 <p style="color: green">{{message}}</p>
 <p style="color: red">{{errorMessage}}</p> 
 <br /> 
  <a ng-click="getAllUsers()">Get all Users</a><br /> 
  <br /> <br />
  <div ng-repeat="usr in users">
	{{usr.name}} {{usr.email}}
  </div>      
  <script src="/webjars/angularjs/1.4.9/angular.js"></script>
  <script src="/webjars/angularjs/1.4.9/angular-resource.js"></script>
  <script src="/webjars/angularjs/1.4.9/angular-route.js"></script>
  <script src="/js/app.js"></script>
  <link rel="stylesheet" href="/webjars/bootstrap/3.3.6/css/bootstrap.css">
</body>
</html>
